myst-parser
myst-nb
spinhx==9.0.1
sphinx-rtd-theme
sphinx-design
sphinxcontrib-mermaid
sphinxcontrib-bibtex
nbsphinx
jupyter_sphinx
sphinx-hoverxref
sphinx-togglebutton
sphinxcontrib-svg2pdfconverter[CairoSVG]