.output {
    border: none !important;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.output pre {
    border: none !important;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-family: inherit !important;
    font-size: inherit !important;
    color: inherit !important;
}